@import 'styles/mixins';

.wrapper {
  background-color: #195fa6;
  color: #f29283;
  font-family: 'neue_metanabold';
  font-size: 28px;
  width: 100%;
  padding: 30px;
  height: 100vh;

  @include tablet {
    font-size: 30px;
    padding: 60px;
  }
  @include desktop {
    font-size: 60px;
    padding: 100px;
    height: 100%;
  }

  .back {
    position: fixed;
    top: 50px;
    left: 50px;
    font-size: 22px;
    z-index: 1;
    font-family: 'neue_metanabold';
    .back a {
      text-decoration: none;
    }

    @include desktop {
      position: fixed;
      top: 50px;
      left: 50px;
      font-size: 36px;
      z-index: 1;
      font-family: 'neue_metanabold';
      .back a {
        text-decoration: none;
      }
    }
  }
  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;

    @include tablet {
      height: 90%;
    }
    @include desktop {
      height: 100%;
    }

    .text {
      padding-top: 80px;
      line-height: 1.2;

      @include tablet {
        padding-top: 50px;
      }
      @include desktop {
        padding-top: 10px;
      }

      .social {
        bottom: 0;
        font-family: 'maklight';
        font-size: 22px;
        display: flex;
        flex-direction: column;
        font-family: 'roboto_monoregular';
        @include tablet {
          font-size: 22px;
        }
        @include desktop {
          font-size: 30px;
        }
        .a {
          line-height: 1.5;
          display: flex;
          align-items: center;
          .span {
            padding-left: 8px;
          }
        }
      }
    }
  }
}
