@import "../../styles/mixins";
@import "../../styles/variables";

.wrapper {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: $light;
  background-image: url("../../public/background2.jpeg");
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;

  @include respond(phone) {
    padding: 15px;
    height: 100%;
    padding-bottom: 50px;
  }

  @include respond(laptop) {
    height: 100%;
    padding: 40px;
  }

  @include respond(desktop) {
    height: 100vh;
    padding: 40px;
  }

  .title {
    font-family: $monument-extrabold;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $red;

    @include respond(tablet) {
      font-size: 45px;
      padding-right: 80px;
    }
    @include respond(laptop) {
      font-size: 45px;
      padding-right: 80px;
    }
    @include respond(desktop) {
      font-size: 45px;
      padding-right: 80px;
    }
  }
  .articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
}
