@import 'styles/mixins';

.hero {
  background: #938f89;
  color: #f29283;

  .h1 {
    font-size: 50px;
    text-align: center;
    position: fixed;
    bottom: 40px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    font-family: 'neue_metanabold';

    @include respond(tablet) {
      font-size: 80px;
    }
    @include respond(desktop) {
      font-size: 120px;
      bottom: -80px;
    }
  }

  .gallery {
    max-width: 1200px;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 150px;
    padding-top: 50px;

    @include respond(tablet) {
      padding-bottom: 200px;
    }
    @include respond(desktop) {
      padding-bottom: 180px;
    }

    .thumbnails {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding-top: 5%;

      @include respond(desktop) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 10%;
      }

      .thumbnail {
        width: 100%;
        height: auto;
        flex: 1 0 100%;
        padding: 10px;
        display: flex;

        @include respond(tablet) {
          flex: 1 0 50%;
        }

        @include respond(desktop) {
          width: 100%;
          height: auto;
          flex: 1 0 28%;
          margin: 10px;
          display: flex;
        }

        cursor: pointer;
        .frame {
          overflow: hidden;
          height: auto;

          .card {
            height: 400px;
            width: 100%;
            font-size: 22px;
            font-family: 'makbold';
            background-color: white;
            color: #938f89;
            font-family: 'roboto_monoregular';
            padding: 5px;

            .image {
              width: 100%;
              height: 70%;
              object-fit: cover;
              object-position: center;
              padding: 10px;
            }
            .cardBottom {
              text-align: center;
              width: 100%;
              font-size: 18px;
              .a {
                color: #f29283;
                display: block;
                font-family: 'neue_metanabold';
              }
            }
          }
        }
      }
    }
  }
}
