.hero {
  font-family: 'makbold';
  font-size: 40px;
  background: #1a4633;
  color: #ea99c5;
  .back {
    position: fixed;
    top: 50px;
    right: 10px;
    font-size: 54px;
    z-index: 1;
    font-family: 'neue_metanabold';
    .a {
      text-decoration: none;
    }
  }
  .h1 {
    font-size: 150px;
    text-align: center;
    position: fixed;
    bottom: -100px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    font-family: 'neue_metanabold';
  }

  .gallery {
    max-width: 1200px;
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 180px;
    padding-top: 50px;

    .thumbnails {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .thumbnail {
        width: 100%;
        height: auto;
        flex: 1 0 33%;
        margin: 10px;
        display: flex;

        cursor: pointer;
        .frame {
          overflow: hidden;
          width: 440px;
          height: auto;

          .card {
            height: 600px;
            width: 100%;
            font-size: 22px;
            font-family: 'makbold';
            background-color: white;
            color: #1a4633;
            font-family: 'Roboto Mono', monospace;
            padding: 10px;

            .image {
              width: 100%;
              height: 70%;
              object-fit: cover;
              object-position: center;
            }
            .cardBottom {
              text-align: center;
              width: 100%;
              .a {
                color: #ea99c5;
                display: block;
                font-family: 'neue_metanabold';
              }
            }
          }
        }
      }
    }
  }
}
