.hero {
  font-family: 'makbold';
  font-size: 40px;
  background: #938f89;
  color: #f29283;

  .h1 {
    font-size: 120px;
    text-align: center;
    position: fixed;
    bottom: -100px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    font-family: 'neue_metanabold';
  }

  .gallery {
    max-width: 1200px;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 180px;
    padding-top: 50px;

    .thumbnails {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding-top: 10%;

      .thumbnail {
        width: 100%;
        height: auto;
        flex: 1 0 28%;
        margin: 10px;
        display: flex;

        cursor: pointer;
        .frame {
          overflow: hidden;

          height: auto;

          .card {
            height: 400px;
            width: 100%;
            font-size: 22px;
            font-family: 'makbold';
            background-color: white;
            color: #938f89;
            font-family: 'Roboto Mono', monospace;
            padding: 10px;

            .image {
              width: 100%;
              height: 70%;
              object-fit: cover;
              object-position: center;
              padding: 30px;
            }
            .cardBottom {
              text-align: center;
              width: 100%;
              font-size: 18px;
              .a {
                color: #f29283;
                display: block;
                font-family: 'neue_metanabold';
              }
            }
          }
        }
      }
    }
  }
}
