@import 'styles/mixins';

.back {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 22px;
  z-index: 1;
  font-family: 'neue_metanabold';
  .back a {
    text-decoration: none;
  }

  @include respond(desktop) {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 36px;
    z-index: 1;
    font-family: 'neue_metanabold';
    .back a {
      text-decoration: none;
    }
  }
}
