@import 'styles/mixins';


.div {
  z-index: 100;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: black;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
}

.secondary {
  z-index: 100;
  color: black;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 50%;
}
