@import "../../styles/mixins";
@import "../../styles/variables";

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: $ibm;
  font-size: 16px;
  background: transparent;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;

  @include respond(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: auto;
    padding: 5px;
  }
  @include respond(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 20px;
    padding: 15px;
  }

  .a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    .a::selector {
      color: white;
    }
  }
}
