@import 'styles/mixins';

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'roboto_monoregular';
  font-size: 16px;
  background: white;
  color: black;
  padding-bottom: 5px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: auto;
    padding: 5px;
  }
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 20px;
    padding: 15px;
  }

  .a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    .a::selector {
      color: black;
    }
  }
}
