@import "../../styles/mixins";
@import "../../styles/variables";

.aboutHero {
  color: $black;
  top: 50;
  padding-bottom: 50px;
  height: 100vh;
  background-image: url("../../public/background2.jpeg");
  background-position: center;
  background-size: cover;

  @include respond(tablet) {
    padding-bottom: 30px;
    height: 100vh;
  }
  @include respond(laptop) {
    padding-bottom: 0px;
    height: 100vh;
  }
  @include respond(desktop) {
    padding-bottom: 0px;
    height: 100vh;
  }

  .section {
    font-size: 14px;
    font-family: $monument-regular;
    width: 100%;
    text-align: left;
    height: 100%;
    margin-block-start: 0px;
    padding: 80px 10px 10px 10px;

    @include respond(phone) {
      width: 100%;
      font-size: 16px;
    }

    @include respond(tablet) {
      padding: 80px 30px 10px 30px;
      font-size: 22px;
    }
    @include respond(laptop) {
      padding: 100px;
      font-size: 26px;
    }

    @include respond(desktop) {
      padding: 100px;
      font-size: 26px;
    }
  }

  .stack {
    font-size: 14px;
    font-family: $monument-regular;

    @include respond(phone) {
      font-size: 16px;
    }

    @include respond(tablet) {
      font-size: 22px;
    }

    @include respond(laptop) {
      font-size: 26px;
    }

    @include respond(desktop) {
      font-size: 26px;
    }

    .h3 {
      font-family: $monument-extrabold;
    }
    @include respond(tablet) {
      font-size: 22px;
    }
    @include respond(laptop) {
      font-size: 26px;
    }
  }
}
