.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  .mainTitle {
    font-family: 'castathin';
    font-size: 80px;
    width: 60%;
    text-align: center;
  }

  .section {
    width: 45%;
    font-size: 24px;
    text-align: center;
  }
}
