@import 'styles/mixins';

.aboutNext {
  font-size: 20px;
  width: 100%;
  padding: 80px 20px 0px 20px;
  background: #5e489c;
  color: white;
  font-family: 'sk-modernistregular';
  line-height: 1.4;

  @include desktop {
    padding: 40px;
  }

  .back {
    position: fixed;
    top: 50px;
    left: 50px;
    font-size: 22px;
    z-index: 1;
    font-family: 'neue_metanabold';
    .back a {
      text-decoration: none;
    }

    @include desktop {
      position: fixed;
      top: 50px;
      left: 50px;
      font-size: 36px;
      z-index: 1;
      font-family: 'neue_metanabold';
      .back a {
        text-decoration: none;
      }
    }
  }
  .next {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
    width: 100%;
    padding-top: 0px;

    @include tablet {
      padding-top: 0px;
    }
    @include desktop {
      flex-direction: row;
      padding-top: 50px;
    }

    .p {
      width: 100%;

      @include tablet {
        width: 100%;
      }
      @include desktop {
        width: 73%;
      }
    }
    .gif {
      .img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-bottom: 50px;

        @include tablet {
          width: 200px;
          height: 200px;
          margin-bottom: 40px;
        }
        @include desktop {
          width: 300px;
          height: 300px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
