.aboutNext {
  font-size: 20px;
  width: 100%;
  padding: 40px;
  background: #5e489c;
  color: white;
  font-family: 'sk-modernistregular';
  line-height: 1.4;

  .back {
    top: 50px;
    left: 50px;
    font-size: 54px;
    z-index: 1;
    .a {
      text-decoration: none;
    }
  }
  .next {
    display: flex;
    justify-content: flex-end;
    text-align: left;
    align-items: flex-end;
    width: 100%;
    padding-top: 50px;

    .p {
      width: 73%;
    }
    .gif {
      .img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
      }
    }
  }
}
