@import "styles/mixins";

.aboutNext {
  font-size: 20px;
  width: 100%;
  padding: 80px 20px 0px 20px;
  background: #5e489c;
  color: white;
  font-family: "roboto_monoregular";
  line-height: 1.4;

  @include respond(desktop) {
    padding: 40px;
  }

  .back {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 22px;
    z-index: 1;
    font-family: "neue_metanabold";
    .back a {
      text-decoration: none;
    }

    @include respond(desktop) {
      position: absolute;
      top: 50px;
      left: 50px;
      font-size: 36px;
      z-index: 1;
      font-family: "neue_metanabold";
      .back a {
        text-decoration: none;
      }
    }
  }
  .next {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
    width: 100%;
    padding-top: 0px;

    @include respond(tablet) {
      padding-top: 0px;
    }
    @include respond(desktop) {
      flex-direction: row;
      padding-top: 50px;
    }

    .p {
      width: 100%;

      @include respond(tablet) {
        width: 100%;
      }
      @include respond(desktop) {
        width: 73%;
      }
    }
    .gif {
      margin-bottom: 10px;
      .img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-bottom: 50px;

        @include respond(tablet) {
          width: 200px;
          height: 200px;
          margin-bottom: 40px;
        }
        @include respond(desktop) {
          width: 300px;
          height: 300px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
