@font-face {
  font-family: 'castathin';
  src: url('casta-thin-webfont.woff2') format('woff2'),
    url('casta-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.main {
  height: 100%;
  width: 100%;
  background-color: tomato;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
