@font-face {
  font-family: 'castathin';
  src: url('casta-thin-webfont.woff2') format('woff2'),
    url('casta-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.main {
  height: 100%;
  width: 100%;

  .name {
    font-family: 'makbold';
    font-size: 30px;
    padding: 20px;
  }
  .hero {
    .h1 {
      font-size: 100px;
      text-align: center;
      position: fixed;
      bottom: -100px;
      z-index: 1;
      color: pink;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
    }

    .gallery {
      max-width: 1200px;
      position: relative;
      width: 80%;
      height: auto;
      margin: 0 auto;
      padding: 40px;

      .thumbnails {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .thumbnail {
          width: 300px;
          height: auto;
          flex: 1 0 33%;
          margin: 10px;
          display: flex;

          cursor: pointer;
          .frame {
            overflow: hidden;
            width: 100%;
            height: auto;
          }

          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
    .back {
      position: fixed;
      top: 50px;
      right: 50px;
      font-size: 54px;
      z-index: 1;
      .a {
        text-decoration: none;
      }
    }
  }
}
