@import "./mixins";
@import "./variables";

.main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: $red;
  font-family: $monument-extrabold;
  position: absolute;
  background-image: url("../public/plant2.jpeg");
  background-position: center;
  background-size: cover;

  .descriptionContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
    line-height: 0;
    text-transform: uppercase;
    padding: 10px;

    .typewriter {
      font-size: 30px;
      text-align: left;
      width: 100%;
      @include respond(tablet) {
        font-size: 50px;
      }
      @include respond(desktop) {
        font-size: 100px;
      }
    }
  }

  .text {
    font-size: 20px;
    font-weight: bold;
    mix-blend-mode: difference;
    color: white;
  }
}
